@import "tailwindcss";

@theme {
	--font-heading: 'Montserrat', sans-serif;
	--font-body: 'Karla', sans-serif;
	--color-primary-500: #EB8834;
	--color-primary-600: #e67617;
	--color-contrast: #323335;
	--color-contrast2: #cab4b4;
}

body {
		font-family: 'Montserrat Variable', sans-serif;
		font-family: 'Karla Variable', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-heading);
}
p {
	font-family: var(--font-body);
	font-size: 16px;
	text-wrap: pretty;
}
a {
	cursor: pointer;
}