---
import LayoutPages from "@/layouts/LayoutPages.astro";
import Form from "@/components/ui/Form.astro";
import { Icon } from "astro-icon/components";
---

<LayoutPages
	title="Contacta con ASSESSORS TECNICS"
	description="Pagina de contacto con nosotros"
>
	<h1
		class="text-primary-500 text-right border-primary-500 border-b font-bold text-3xl"
	>
		Descubre como trabajamos
	</h1>
	<h2 class="text-1xl  md:text-2xl font-semibold my-10 text-center">
		¿Quieres saber más sobre nuestros servicios o necesitas ayuda para tu
		proyecto? ¡Contáctanos! Estaremos encantados de atenderte y resolver tus
		dudas.
	</h2>
	<div class="flex flex-col my-7">
		<div class="flex flex-row">
			<Icon
				name="mdi:google-maps"
				class="text-primary-600 mr-3 text-xl"
			/>
			<span>Rambla Sant Martí, 46, Arenys de munt</span>
		</div>
		<div class="flex flex-row">
			<Icon
				name="material-symbols-light:mail-outline"
				class="text-primary-600 mr-3 text-xl"
			/>
			<a
				href="mailto:elrostidorarenysdemunt@gmail.com?Subject='Interesado%20en%20contratar"
				>elrostidorarenysdemunt@gmail.com</a
			>
		</div>
		<div class="flex flex-row">
			<Icon
				name="mdi-light:phone"
				class="text-primary-600 mr-3 text-xl"
			/>
			<a href="tel:+34938589096">93 793 71 07</a>
		</div>
	</div>
	<Form />
</LayoutPages>
