---
import LayoutPages from "@/layouts/LayoutPages.astro";
import Form from "@/components/ui/Form.astro";
---

<LayoutPages
	title="Contacta con Assessors tecnics"
	description="Pagina de contacto con nosotros"
>
	<h1
		class="text-blue-400 text-right border-blue-400 border-b font-bold text-3xl"
	>
		Descubre como trabajamos
	</h1>
	<h2 class="text-1xl font-semibold my-10 text-center">
		¿Quieres saber más sobre nuestros servicios o necesitas ayuda para tu
		proyecto? ¡Contáctanos! Estaremos encantados de atenderte y resolver tus
		dudas.
	</h2>
	<Form />
</LayoutPages>
