---
import Contacto from "@/components/Contacto.astro";
import Nosotros from "@/components/Nosotros.astro";
import Servicios from "@/components/Servicios.astro";
import Obras from "@/components/Obras.astro";
import Newsletter from "@/components/Newsletter.astro";
import Info from "@/components/Info.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<div class="mx-auto flex  justify-center">
		<div class="md:grid md:grid-cols-6 md:grid-rows-3">
			<div class="md:row-span-1 md:col-span-4"><Obras /></div>
			<div class="md:col-span-2 md:row-span-2 md:col-start-5">
				<Newsletter />
			</div>
			<div class="md:col-span-4 md:row-span-1 md:row-start-3">
				<Info />
			</div>
			<!-- <div class="md:col-span-4 md:row-span-2 md:row-start-6">
				<Nosotros />
			</div> -->
			<div class="md:col-span-4 md:row-span-1">
				<Servicios />
			</div>
			<div
				class="md:col-span-2 md:row-span-1 md:col-start-5 md:row-start-3"
			>
				<Contacto />
			</div>
		</div>
	</div>
</Layout>
