---
import LayoutPages from "@/layouts/LayoutPages.astro";
---

<LayoutPages title="Nosotros" description="Conoce más sobre Assessors tecnics">
	<h1
		class="text-blue-400 text-right border-blue-400 border-b font-bold text-3xl"
	>
		Assessors tecnics, expertos en rehabilitacion y reformas
	</h1>
	<h2 class="text-3xl font-semibold my-10 text-center">
		Creemos en lo que hacemos
	</h2>
	<p class="my-4 text-pretty">
		<strong>Assessors tecnics </strong>es una empresa especializada en<strong
		>
			rehabilitación de edificios y reformas</strong
		>, que fue fundada en el año 2005 por Oscar Barcala Avedillo. Desde
		entonces, nuestra empresa ha evolucionado y se ha consolidado como un
		referente en el sector de la construcción, gracias a nuestro compromiso
		con la excelencia y la calidad en cada uno de los proyectos que
		emprendemos.
	</p>
	<p class="my-4 text-pretty">
		En Assessors tecnics contamos con un equipo de
		<strong>profesionales altamente cualificados y experimentados</strong>,
		que nos permite abordar cualquier tipo de proyecto, desde pequeñas
		reformas hasta la ejecución de grandes obras. Nuestro objetivo es
		ofrecer a nuestros clientes <strong
			>soluciones integrales y personalizadas</strong
		>, que se adapten a sus necesidades y presupuestos, y que cumplan con
		los más altos estándares de calidad y seguridad.
	</p>
	<p class="my-4 text-pretty">
		Nos diferenciamos por nuestra capacidad para realizar proyectos de
		rehabilitación de edificios, que nos permiten
		<strong
			>recuperar y poner en valor el patrimonio arquitectónico y cultural.</strong
		>
		También somos <strong
			>expertos en reformas de viviendas, locales comerciales y oficinas,
		</strong>y en la realización de obras de nueva construcción.
	</p>
	<p class="my-4 text-pretty">
		Además, en Assessors tecnics estamos <strong
			>comprometidos con el medio ambiente y la sostenibilidad</strong
		>, y por ello utilizamos materiales y técnicas de construcción
		respetuosas con el entorno. Asimismo, ofrecemos servicios de
		asesoramiento y gestión de subvenciones y ayudas para la rehabilitación
		y mejora de edificios.
	</p>
	<p class="my-4 text-pretty">
		En definitiva, en Assessors tecnics trabajamos con
		<strong>pasión y dedicación</strong>
		para satisfacer las necesidades de nuestros clientes, y convertir sus proyectos
		en realidades. Si buscas una empresa de confianza para llevar a cabo tu proyecto
		de rehabilitación o reforma, no dudes en ponerte en contacto con nosotros.
		Estaremos encantados de ayudarte.
	</p>
</LayoutPages>
