---
import LayoutPages from "@/layouts/LayoutPages.astro";
import { Image } from "astro:assets";
---

<LayoutPages
	title="Trabajos realizados"
	description="Descubre algunos de nuestros trabajaos realizados a lo largo de estos años"
>
		<h1
			class="text-primary-500 text-right border-primary-500 border-b font-bold text-3xl"
		>
			Descubreo trabajamos
		</h1>
		<nav class="container mx-auto my-10">
			<ul
				class="flex flex-col md:flex-row md:justify-center md:items-center"
			>
				<li class="md:mr-2">Todo</li>
				<li class="md:mr-2">Obras</li>
				<li class="md:mr-2">Fachadas</li>
			</ul>
		</nav>
		<main class="grid md:grid-cols-3 gap-4">
			<Image
				src="/images/obras1.webp"
				alt="obra 1"
				width={100}
				height={100}
				class="w-full"
				loading="eager"
			/>
			<Image
				src="/images/obras1.webp"
				alt="obra 1"
				width={100}
				height={100}
				class="w-full"
				loading="eager"
			/>
			<Image
				src="/images/obras1.webp"
				alt="obra 1"
				width={100}
				height={100}
				class="w-full"
				loading="eager"
			/>
			<Image
				src="/images/obras1.webp"
				alt="obra 1"
				width={100}
				height={100}
				class="w-full"
				loading="lazy"
			/>
			<Image
				src="/images/obras1.webp"
				alt="obra 1"
				width={100}
				height={100}
				class="w-full"
				loading="lazy"
			/>
			<Image
				src="/images/obras1.webp"
				alt="obra 1"
				width={100}
				height={100}
				class="w-full"
				loading="lazy"
			/>
			<Image
				src="/images/obras1.webp"
				alt="obra 1"
				width={100}
				height={100}
				class="w-full"
				loading="lazy"
			/>
			<Image
				src="/images/obras1.webp"
				alt="obra 1"
				width={100}
				height={100}
				class="w-full"
				loading="lazy"
			/>
			<Image
				src="/images/obras1.webp"
				alt="obra 1"
				width={100}
				height={100}
				class="w-full"
				loading="lazy"
			/>
			<Image
				src="/images/obras1.webp"
				alt="obra 1"
				width={100}
				height={100}
				class="w-full"
				loading="lazy"
			/>
			<Image
				src="/images/obras1.webp"
				alt="obra 1"
				width={100}
				height={100}
				class="w-full"
				loading="lazy"
			/>
			<Image
				src="/images/obras1.webp"
				alt="obra 1"
				width={100}
				height={100}
				class="w-full"
				loading="lazy"
			/>
		</main>
</LayoutPages>
