<footer class="md:flex bg-contrast text-white p-4">
	<nav class="container mx-auto">
		<ul class="flex flex-col md:flex-row md:justify-center md:items-center">
			<li class="md:mr-2">
				<a href="/aviso-legal">Aviso legal</a>
			</li>
			<li class="md:mr-2">
				<a href="/politica-de-privacidad">Politica de privacidad</a>
			</li>
			<li class="md:mr-2">
				<a href="/politica-de-cookies">Politica de cookies</a>
			</li>
		</ul>
	</nav>
</footer>
