<footer class="bg-contrast text-white w-screen p-4">
	<nav class="container mx-auto">
		<ul class="flex flex-col md:flex-row md:justify-center md:items-center">
			<li class="md:mr-2">
				Assessors tecnics | Maladeta, 41 – Local | 08016 Barcelona |
			</li>
			<li class="md:mr-2">
				<a href="tel:+34938589096">93 858 90 96 | </a>
			</li>
			<li class="md:mr-2">
				<a href="mailto:Assessors tecnics@Assessors tecnics.com"
					>Assessors tecnics@Assessors tecnics.com</a
				>
			</li>
		</ul>
	</nav>
</footer>
