---
import Section from "@/components/ui/Section.astro";
import { Image } from "astro:assets";
---

<Section bgColor="bg-gray-200" textColor="text-black">
	<h2 class="mb-7 md:my-4 text-2xl">CATEGORIAS DE OBRAS</h2>

	<div
		class="grid grid-cols-1 gap-y-4 md:grid-cols-3 md:grid-rows-1 md:gap-x-4 mb-4"
	>
		<div
			class="bg-gray-100 p-3 rounded-lg shadow-2xl hover:scale-105 transform ease-in-out duration-300"
		>
			<Image
				src="/images/icon7.png"
				alt="Untitled design"
				class="md:hidden"
				width={70}
				height={70}
			/>
			<div class="text-left">
				<a href="/servicios/" tabindex="0">
					<h3 class="text-1xl font-semibold">
						Reparación de Fachadas
					</h3><p>
						Restablecemos la integridad y estética de su fachada con
						técnicas ampliamente avanzadas y duraderas.
					</p>
				</a>
			</div>
		</div>
		<div
			class="bg-gray-100 p-3 rounded-lg shadow-2xl hover:scale-105 transform ease-in-out duration-300"
		>
			<Image
				src="/images/icon6.png"
				alt="Untitled design"
				class="md:hidden"
				width={70}
				height={70}
			/>
			<div class="text-left">
				<a href="/servicios/" tabindex="0">
					<h3 class="text-1xl font-semibold">
						Procesos de Impermeabilización
					</h3><p>
						Protegemos su estructura contra filtraciones y humedad
						mediante impermeabilizaciones efectivas y de calidad.
					</p>
				</a>
			</div>
		</div>
		<div
			class="bg-gray-100 p-3 rounded-lg shadow-2xl hover:scale-105 transform ease-in-out duration-300"
		>
			<Image
				src="/images/icon5.png"
				alt="Untitled design"
				class="md:hidden"
				width={70}
				height={70}
			/>
			<div class="text-left">
				<a href="/servicios/" tabindex="0">
					<h3 class="text-1xl font-semibold">
						Servicio de mantenimiento
					</h3>
					<p>
						Garantizamos el óptimo funcionamiento y durabilidad de
						sus instalaciones con un mantenimiento profesional.
					</p>
				</a>
			</div>
		</div>
		<div
			class="bg-gray-100 p-3 rounded-lg shadow-2xl hover:scale-105 transform ease-in-out duration-300"
		>
			<Image
				src="/images/icon1.png"
				alt="Untitled design"
				class="md:hidden"
				width={70}
				height={70}
			/>
			<div class="text-left">
				<a href="/servicios/" tabindex="0">
					<h3 class="text-1xl font-semibold">
						Reformas y construcciones
					</h3>
					<p>
						Transformamos y construimos espacios adaptados a sus
						necesidades y gustos, con alta calidad.
					</p>
				</a>
			</div>
		</div>
		<div
			class="bg-gray-100 p-3 rounded-lg shadow-2xl hover:scale-105 transform ease-in-out duration-300"
		>
			<Image
				src="/images/icon3.png"
				alt="Untitled design"
				class="md:hidden"
				width={50}
				height={50}
			/>
			<div class="text-left">
				<a href="/servicios/" tabindex="0">
					<h3 class="text-1xl font-semibold">Diseño de interiores</h3>
					<p>
						Creamos ambientes interiores funcionales y estéticamente
						agradables, adaptados a su estilo y preferencias.
					</p>
				</a>
			</div>
		</div>
		<div
			class="bg-gray-100 p-3 rounded-lg shadow-2xl hover:scale-105 transform ease-in-out duration-300"
		>
			<Image
				src="/images/icon1.png"
				alt="Untitled design"
				class="md:hidden"
				width={50}
				height={50}
			/>
			<div class="text-left">
				<a href="/servicios/" tabindex="0">
					<h3 class="text-1xl font-semibold">
						Locales y oficinas
					</h3>
					<p>
						Diseñamos y reformamos locales comerciales y oficinas
						para optimizar su funcionalidad y atractivo.
					</p>
				</a>
			</div>
		</div>
	</div>
</Section>
