---
import Section from "@/components/ui/Section.astro";
---

<Section bgColor="bg-white md:bg-green-200" textColor="text-black">
	<h1 class="mb-7 text-2xl">CATEGORIAS DE OBRAS</h1>
	<h2>Residencial</h2>
	<h2>Rehabilitacion</h2>
	<h2>Equipamientos</h2>
	<h2>Obra civil</h2>
	<h2>Retail</h2>
</Section>
