---
import Section from "@/components/ui/Section.astro";
import Form from "@/components/ui/Form.svelte";
---

<Section
	bgColor="bg-contrast md:bg-gray-600"
	textColor="text-white"
	justify="left"
>
	<Form client:load color="white" />
</Section>
