---
import Section from "@/components/ui/Section.astro";
import Form from "@/components/ui/Form.astro";
---

<Section
	bgColor="bg-contrast md:bg-gray-600"
	textColor="text-white"
	justify="left"
>
	<Form color="white" />
</Section>
