---
import { Image } from "astro:assets";
---

<section class="bg-gray-200 md:overflow-hidden p-4 md:p-0">
	<Image
		src="/images/JPV-Galeria-1.webp"
		alt="Hombre haciendo reformas"
		class="rounded-lg md:rounded-none md:h-auto md:max-w-none w-full"
		width={420}
		height={420}
	/>
</section>
