---
import Section from "@/components/ui/Section.astro";
---

<Section
	bgColor="bg-contrast md:bg-gray-600"
	textColor="text-white md:text-white"
>
	<h1 class="my-7 text-2xl">PROMOCIONES</h1>
	<p>
		Desde polideportivos a guarderías pasando por bibliotecas, centros de
		atención primaria o mercados municipales. Ya se trate de construcciones
		integrales, ampliaciones o reformas.
	</p>
</Section>
