---
import Section from "@/components/ui/Section.astro";
---

<Section bgColor="bg-contrast md:bg-blue-400" textColor="text-white">
	<div class="text-left">
		<h1 class="font-bold">
			Más de 20 años siendo tu empresa de obras y servicios.
		</h1>
		<p>
			Utilizamos productos de primeras marcas y materiales reconocidos en
			el mercado, garantizando la satisfacción del cliente.
		</p>
		<p>
			<strong>Especialización:</strong>
			<p>
				Ofrecemos servicios integrales en reforma de viviendas y locales
				comerciales, incluyendo:
			</p>
		</p>
		<ul class="list-disc px-4">
			<li>Alisado de paredes</li>
			<li>División de espacios</li>
			<li>Falsos Techos</li>
			<li>Tabiquería</li>
			<li>Humedades</li>
			<li>Reformas de viviendas</li>
		</ul>
	</div>
</Section>

<style>
	p, h1 {
		margin: 6px 0 6px 0
	}
</style>
