---
const { bgColor, textColor, justify = "center" } = Astro.props;
---

<section
	class=`${bgColor} ${textColor} flex flex-col items-center justify-center h-full  text-${justify} md:py-0 py-10 px-4`
>
	<slot />
</section>
